.wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
}

.username {
  font-weight: 700;
}

.wrapper button {
  padding: 8px;
  border-radius: 4px;
  border: none;

  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

  transition: all 250ms ease-in-out;
}

.wrapper button:active {
  background-color: #8a8a8a;
  color: #fafafa;
}
